<template>
  <div class="section section_bg-gradient">
    <div style="margin: auto; max-width: 600px;">
      <h2 class="section__header">Политика конфиденциальности</h2>

      <p class="text-long">Настоящая политика конфиденциальности (далее&nbsp;&mdash; Политика конфиденциальности) описывает порядок сбора, использования и&nbsp;раскрытия информации, получаемой владельцем данного сайта, Юрием Костылевым (далее&nbsp;&mdash; Автор) от&nbsp;пользователей при отправке ими персональной информации через форму подачи заявки на&nbsp;сайте zaspasibo.yourkostylev.com (далее&nbsp;&mdash; Сайт).</p>
      <p class="text-long">Отправляя персональную информацию через форму подачи заявки на&nbsp;Сайте, вы&nbsp;автоматически принимаете и&nbsp;соглашаетесь с&nbsp;Политикой конфиденциальности: вы&nbsp;даете свое сознательное согласие на&nbsp;сбор, запись, хранение, накопление, систематизацию, уточнение (обновление, изменение), использование, извлечение, передачу, обезличивание, блокирование, удаление, уничтожение, трансграничную передачу на&nbsp;территории иностранных государств, являющихся сторонами Конвенции Совета Европы о&nbsp;защите физических лиц при автоматизированной обработке персональных данных, и&nbsp;иных иностранных государств вашей персональной информации, указанной в&nbsp;настоящей Политике. Цели обработки персональных данных и&nbsp;иной информации, указанной в&nbsp;настоящей Политике, приведены ниже в&nbsp;тексте Политики. Если вы&nbsp;не&nbsp;согласны с&nbsp;условиями Политики конфиденциальности, прошу вас воздержаться от&nbsp;использования Сервисов.</p>
      <p class="text-long">Автор не&nbsp;будет умышленно собирать или обрабатывать данные несовершеннолетних в&nbsp;возрасте до&nbsp;18 лет без ведома родителей или законных представителей. Если вам меньше 18 лет, пожалуйста, не&nbsp;предоставляйте никакую персональную информацию.</p>

      <div class="section__text">
        <strong>Определения</strong>
      </div>

      <p class="text-long">Указанные ниже определяемые термины имеют следующее значение:</p>
      <p class="text-long"><strong class="quote-shift">«Обезличенные данные»</strong> &nbsp;означает информацию, которая как таковая, не&nbsp;идентифицирует конкретное физическое или юридическое лицо и&nbsp;без использования дополнительной информации не&nbsp;позволяет определить принадлежность данных конкретному субъекту.</p>
      <p class="text-long"><strong class="quote-shift">«Персональная информация»</strong> &nbsp;означает конкретные данные, позволяющие установить личность физического лица или связаться с&nbsp;ним (например, имя, адрес электронной почты или номер телефона).</p>

      <br/>

      <div class="section__text">
        <strong>I. Собираемая информация</strong>
      </div>

      <p class="text-long"><strong>Информация, предоставленная пользователями</strong>. Автор может получать и&nbsp;хранить информацию, предоставленную пользователями при взаимодействии с&nbsp;Сайтом. Автор может использовать предоставленную информацию для связи с&nbsp;пользователями
      и&nbsp;в&nbsp;целях усовершенствования Сайта.</p>
      <p class="text-long"><strong>Подача заявки через форму обратной связи</strong>. При направлении заявки вы&nbsp;имеете возможность предоставить свои контактные данные через Сайт. В&nbsp;этом случае автор собирает ваши имя, адрес электронной почты и&nbsp;номер телефона
      и&nbsp;использует эти данные для связи с&nbsp;вами.</p>
      <p class="text-long"><strong>Обезличенные данные, собираемые автоматически или с&nbsp;помощью технических средств</strong>. Автор может собирать Обезличенные данные при помощи технических средств, сохраняя при этом анонимность пользователей. Автор использует такие данные
      только в&nbsp;совокупности, в&nbsp;статистических целях, не&nbsp;идентифицируя при этом конкретных пользователей. Эти обобщенные данные позволяют понять, как вы&nbsp;используете Сайт. Это необходимо для улучшения Сайта и&nbsp;повышения его привлекательности
      для как можно большего количества пользователей. Используя Сайт, вы&nbsp;автоматически соглашаетесь на&nbsp;сбор Обезличенных данных.</p>
      <p class="text-long"><strong>Данные об&nbsp;устройстве</strong>. Автор автоматически собирает данные об&nbsp;устройстве при загрузке и&nbsp;использовании Сайта. Такие данные включают в&nbsp;себя, помимо прочего, тип используемого устройства и&nbsp;его конфигурацию.</p>
      <p class="text-long">Автор не&nbsp;осуществляет сбор такой Персональной информации как: адрес, данные кредитной карты и&nbsp;другие банковские реквизиты, паспортные данные, номер водительского удостоверения и&nbsp;прочие данные, которые не&nbsp;указаны в&nbsp;настоящей
      Политике конфиденциальности и&nbsp;не&nbsp;имеют отношения к&nbsp;связи с&nbsp;посетителями.</p>

      <br/>

      <div class="section__text">
        <strong>II. Безопасность данных</strong>
      </div>

      <p class="text-long">Автор принимает необходимые и&nbsp;достаточные организационные и&nbsp;технические меры для защиты собранных данных от&nbsp;потери, неправильного использования, несанкционированного доступа, раскрытия, изменения, уничтожения, блокирования, а&nbsp;также от&nbsp;иных неправомерных действий с&nbsp;данными третьих&nbsp;лиц. Автор предпринимает все возможные меры для обеспечения безопасного хранения данных, предоставленных пользователями, однако ни&nbsp;одни предупредительные меры не&nbsp;могут гарантировать 100% безопасности.</p>
      <p class="text-long">Сайт обеспечивает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с&nbsp;использованием баз данных, находящихся на&nbsp;серверах Telegram&nbsp;Messenger&nbsp;LLP.</p>

      <br/>

      <div class="section__text">
        <strong>III. Раскрытие данных</strong>
      </div>

      <p class="text-long"><strong>Раскрытие в&nbsp;случае юридической необходимости</strong>. Автор вправе раскрывать предоставленные пользователями данные в&nbsp;случае судебного требования или постановления, запроса органов власти, а&nbsp;также для исполнения других обязанностей, реализации законных прав и&nbsp;интересов Автора. Автор также может раскрывать предоставленные пользователями данные, когда раскрытие данных необходимо для защиты прав Автора, вашей безопасности или безопасности других лиц или раскрытия случаев мошенничества, принятия мер в&nbsp;отношении иной незаконной деятельности, или в&nbsp;иных случаях, предусмотренных законодательством.</p>

      <br/>

      <div class="section__text">
        <strong>IV. Изменение Политики конфиденциальности</strong>
      </div>

      <p class="text-long">Автор оставляет за&nbsp;собой право вносить изменения в&nbsp;Политику конфиденциальности в&nbsp;любое время и&nbsp;без предварительного уведомления. Любые изменения будут незамедлительно опубликованы на&nbsp;Сайте в&nbsp;данном разделе.</p>

      <br/>

      <div class="section__text">
        <strong>V. Хранение данных</strong>
      </div>

      <p class="text-long">Данные пользователей хранятся до&nbsp;тех пор, пока это необходимо для соблюдения требований применимого законодательства и&nbsp;исполнения постановлений (решений) компетентных государственных органов.</p>

      <br/>

      <div class="section__text">
        <strong>VI. Доступ к&nbsp;Персональной информации</strong>
      </div>

      <p class="text-long">В&nbsp;случае изменения Персональной информации или отказа от&nbsp;использования Сервисов, пользователь может внести исправления, обновить или удалить неточности, направив уведомление на&nbsp;электронный адрес <a class="link" href="mailto:me@kst.lv">me@kst.lv</a>.</p>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Политика конфиденциальности | Сайт за спасибо'
  }
}
</script>
