<template>
  <footer class="footer">
    <a class="footer__link" href="https://gitlab.com/yourkostylev/zaspasibo.site/" target="_blank" rel="noopener noreferrer">
      <Heart />
    </a>
  </footer>
</template>

<script>
export default {
  components: {
    Heart: () => import('~/assets/images/icn_heart.svg'),
  }
}
</script>

<style lang="scss">
@import '~assets/css/variables.scss';

.footer {
  text-align: center;

  &__link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: -5px;
    will-change: transform;

    &:hover,
    &:focus {
      animation: heartbeat 2.5s infinite;

      #icn_heart {
        fill: $pink;
      }

      @keyframes heartbeat {
        0% {
          transform: scale(1);
        }

        5% {
          transform: scale(1.3);
        }

        10% {
          transform: scale(1.1);
        }

        15% {
          transform: scale(1.5);
        }

        50% {
          transform: scale(1);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }
}
</style>
