<template>
  <section class="section section_bg-image" id="for_what">
    <h2 class="section__header section__header_inverse">Зачем мне это</h2>
    <div class="section__text section__text_half-width section__text_inverse">
      <p>Кроме постоянной работы, мне интересно развиваться в&nbsp;новых для себя направлениях, давать разминку фантазии, оттачивать технологические навыки и&nbsp;просто переключаться на&nbsp;новую&nbsp;деятельность.</p>
    </div>
    <picture>
      <source
        media="(max-width: 729px)"
        srcset="/images/sign-mobile.webp, /images/sign-mobile@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(max-width: 729px)"
        srcset="/images/sign-mobile.jpg, /images/sign-mobile@2x.jpg 2x"
      />
      <source
        srcset="/images/sign.webp, /images/sign@2x.webp 2x"
        type="image/webp"
      />
      <img
        src="/images/sign.jpg"
        srcset="/images/sign@2x.jpg 2x"
        class="section__bg-image"
        alt="Это знак"
      />
    </picture>
  </section>
</template>
