<template>
  <header class="intro" role="banner">
    <div class="intro__banner-wrapper">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="/images/cover.webp, /images/cover@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width: 500px)"
          srcset="/images/cover.jpg, /images/cover@2x.jpg 2x"
        />
        <source
          srcset="/images/banner.webp, /images/banner@2x.webp 2x"
          type="image/webp"
        />
        <img
          src="/images/banner.jpg"
          srcset="/images/banner@2x.jpg 2x"
          class="intro__banner"
          alt="Сайт за спасибо"
        />
      </picture>
    </div>
    <div class="intro__header-wrapper">
      <div />
      <nuxt-link class="intro__header intro__header_mobile" to="/#idea">
        <HeaderMobile />
      </nuxt-link>
      <div class="intro__header intro__header_desktop">
        <Header />
      </div>
      <nuxt-link class="intro__scroll" to="/#idea">
        <Scroll />
      </nuxt-link>
    </div>
  </header>
</template>

<script>
export default {
  components: {
    HeaderMobile: () => import('~/assets/images/header-mobile.svg'),
    Header: () => import('~/assets/images/header.svg'),
    Scroll: () => import('~/assets/images/icn_scroll.svg')
  }
}
</script>

<style lang="scss">
@import '~assets/css/variables.scss';

.intro {
  &__banner-wrapper {
    background: radial-gradient(circle farthest-side at 50% 50%, hsla(355, 52%, 94%, 1) 5%, hsla(331, 85%, 76%, 1) 95%);
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    user-select: none;

    @media (min-width: 501px) {
      padding-bottom: 45.5%;
    }
  }

  &__banner {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &__header-wrapper {
    background-image: linear-gradient(to bottom, white 50%, $bg-gray 100%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: calc(100vh - 12px - (100vw - 24px) - 30px);
    min-height: 270px;
    padding-top: 30px;
    padding-bottom: 0;

    @media (min-width: $desktop) {
      height: calc(100vh - 12px - 69px - (100vw - 24px) * 0.455 - 30px);
      min-height: 237px;
    }

    @media print {
      display: block;
      height: initial;
      justify-content: initial;
      min-height: initial;
      padding-bottom: 30px;
    }
  }

  &__header {
    &_mobile {
      display: flex;
      margin: 0 $wrapper-horizontal-padding;

      @media (min-width: $desktop) {
        display: none;
      }

      svg {
        height: 100%;
      }
    }

    &_desktop {
      display: none;
      margin: 0 13.5%;

      @media (min-width: $desktop) {
        display: block;
      }

      svg {
        width: 100%;
      }
    }
  }

  &__scroll {
    padding: 25px 0;

    @media print {
      display: none;
    }

    svg {
      overflow: visible;
      width: 100%;

      #icn_scroll_arrow {
        animation: 1.5s infinite scroll-jump;

        @keyframes scroll-jump {
          50% {
            transform: translateY(5px);
            transition-timing-function: ease-out;
          }

          70% {
            transform: translateY(0px);
            transition-timing-function: ease-in;
          }

          100% {
            transform: translateY(0px);
          }
        }
      }
    }
  }
}
</style>
