<template>
  <nav class="menu" role="navigation">
    <input
      v-model="menuCheckbox"
      class="menu__checkbox"
      id="menu_checkbox"
      type="checkbox"
      aria-label="menu"
    />
    <div class="menu__button">
      <svg width="20" height="11" viewBox="0 0 20 11" xmlns="http://www.w3.org/2000/svg">
        <g fill="#FFF">
          <rect class="menu__button-bar menu__button-bar_top" x="0" y="0" width="20" height="1.5"/>
          <rect class="menu__button-bar menu__button-bar_middle" x="0" y="4.5" width="20" height="1.5"/>
          <rect class="menu__button-bar menu__button-bar_bottom" x="0" y="9" width="20" height="1.5"/>
        </g>
      </svg>
    </div>
    <ul class="menu__panel">
      <li
        v-for="item in items"
        class="menu__item"
      >
        <nuxt-link
          @click.native="click"
          :to="item.url"
          class="menu__item-text"
        >{{ item.caption }}</nuxt-link>
      </li>
    </ul>
    <label class="menu__backdrop" for="menu_checkbox"></label>
  </nav>
</template>

<script>
export default {
  data: () => {
    return {
      menuCheckbox: false,
      items: [
        {
          url: '/#idea',
          caption: 'Идея'
        },
        {
          url: '/#me',
          caption: 'Кто я'
        },
        {
          url: '/#for_what',
          caption: 'Зачем'
        },
        {
          url: '/#who_can_pretend',
          caption: 'Для кого'
        },
        {
          url: '/#what_to_order',
          caption: 'Что заказать'
        },
        {
          url: '/#send_request',
          caption: 'Подать заявку'
        },
      ]
    }
  },

  methods: {
    click: function (e) {
      this.menuCheckbox = false
      e.target.blur()
    }
  }
}
</script>

<style lang="scss">
@import '~assets/css/variables.scss';

@mixin menu-button {
  bottom: 30px;
  height: 56px;
  position: fixed;
  right: 20px;
  width: 56px;
}

.menu {
  user-select: none;

  &__checkbox {
    @include menu-button;
    cursor: pointer;
    opacity: 0;
    z-index: 5;

    @media (min-width: $desktop) {
      display: none;
    }

    &:active ~ .menu__button {
      box-shadow: 0 4px 5px -1px rgba(110,15,61, .4);
    }

    &:checked {
      & ~ .menu__button .menu__button-bar {
        &_top {
          transform: rotate(-45deg) scaleX(1.15) translateX(2px);
          transform-origin: 16px center;
        }

        &_bottom {
          transform: rotate(45deg) scaleX(1.15) translateX(2px);
          transform-origin: 16px center;
        }
      }

      & ~ .menu__button .menu__button-bar_middle {
        opacity: 0;
        transform: scale(0);
      }

      & ~ .menu__panel {
        opacity: 1;
        transform: translateX(0);

        .menu__item {
          opacity: 1;
          transform: skewX(0) translateX(0);
        }
      }

      & ~ .menu__backdrop {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &__button {
    @include menu-button;
    background-image: $linear-gradient-45deg;
    box-shadow: 0 7px 12px -3px rgba(110,15,61, .35);
    border-radius: 50%;
    line-height: 56px;
    overflow: hidden;
    pointer-events: none;
    text-align: center;
    transform: scale(1);
    transition: .2s ease-in-out;
    z-index: 4;

    @media (min-width: $desktop) {
      transform: scale(0);
    }

    svg {
      overflow: visible;
    }

    &-bar {
      transition: .3s cubic-bezier(.42, 2.56, .63, -.07);

      &_top,
      &_bottom {
        transform-origin: 14px center;
      }

      &_middle {
        transition-duration: .1s;
        transform-origin: center;
        transition-timing-function: ease-in-out;
      }
    }
  }

  &__panel {
    background-color: white;
    bottom: 0;
    box-shadow: 0 0 20px rgba(54,38,77, .75);
    list-style-type: none;
    margin: 0;
    opacity: 0;
    overflow-y: auto;
    padding: 20px 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: .3s ease-out;
    z-index: 3;

    @media (min-width: $desktop) {
      bottom: initial;
      box-shadow: initial;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      left: initial;
      opacity: 1;
      overflow-x: auto;
      padding: 0 $wrapper-horizontal-padding;
      position: static;
      right: initial;
      top: initial;
      transform: none;
    }
  }

  &__item {
    border-bottom: 1px solid #EDEDF5;
    margin-left: 30px;
    opacity: 0;
    padding: 0 80px 0 0;
    transform: skewX(5deg);
    transition: .5s ease-out;

    @for $item from 1 through 6 {
      &:nth-child(#{$item}) {
        transform: translate(5px * $item);
        transition-delay: .05s * $item;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    @media (min-width: $desktop) {
      border-bottom: none;
      margin-left: 0;
      opacity: 1;
      padding: 0 20px;
      transform: none !important;
      transition: none;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &-text {
      color: $header-text-color;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 48px;
      text-decoration: none;
      transition: .1s ease-in-out;
      white-space: nowrap;

      @media (min-width: $desktop) {
        font-size: 15px;
        font-weight: 700;
        line-height: 69px;
      }

      &:hover,
      &:focus {
        color: $pink;
      }
    }
  }

  &__backdrop {
    background-color: rgba(39,33,51, .35);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .2s ease-in;
    width: 100%;
    z-index: -1;
  }
}
</style>
