<template>
  <section class="section" id="send_request">
    <h2 class="section__header">Подать заявку</h2>
    <div class="section__text">
      <p>Расскажите про свою идею, форму, содержание, почему я должен сделать это бесплатно.</p>
    </div>
    <p>Напишите мне любым удобным способом (можно даже ночью):</p>
    <div class="contact-icons">
      <a
        v-for="link in links"
        :href="link.mobileUrl ? chooseUrl(link.mobileUrl, link.url) : link.url"
        :title="link.title"
        :target="link.newWindow ? '_blank' : '_self'"
        :data-print="link.print"
        :class="link.modificator"
        class="contact-icons__item"
        rel="noopener noreferrer"
      >
        <Email v-if="link.icon == 'email'" />
        <Skype v-if="link.icon == 'skype'" />
        <Sms v-if="link.icon == 'sms'" />
        <Telegram v-if="link.icon == 'telegram'" />
        <Viber v-if="link.icon == 'viber'" />
        <WhatsApp v-if="link.icon == 'whatsapp'" />
      </a>
    </div>
    <Form />
  </section>
</template>

<script>
export default {
  components: {
    Email: () => import('~/assets/images/icn_email.svg'),
    Skype: () => import('~/assets/images/icn_skype.svg'),
    Sms: () => import('~/assets/images/icn_sms.svg'),
    Telegram: () => import('~/assets/images/icn_telegram.svg'),
    Viber: () => import('~/assets/images/icn_viber.svg'),
    WhatsApp: () => import('~/assets/images/icn_whatsapp.svg'),
    WhatsApp: () => import('~/assets/images/icn_whatsapp.svg'),
    Form: () => import('~/components/Form.vue'),
  },

  data: () => {
    return {
      isMobile: null,
      links: [
        {
          url: 'mailto:me@kst.lv',
          title: 'Написать email',
          newWindow: true,
          print: 'Email: me@kst.lv',
          icon: 'email'
        },
        {
          mobileUrl: 'skype:yourkostylev',
          url: 'skype:yourkostylev?chat',
          title: 'Написать в Skype',
          print: 'Skype: yourkostylev',
          icon: 'skype'
        },
        {
          url: 'sms:79992331000',
          title: 'Написать SMS',
          print: 'SMS, Telegram, Viber, WhatsApp: +7 (999) 233-1000',
          icon: 'sms'
        },
        {
          url: 'tg://resolve?domain=yourkostylev',
          title: 'Написать в Telegram',
          modificator: 'contact-icons__item_no-print',
          icon: 'telegram'
        },
        {
          mobileUrl: 'viber://add?number=79992331000',
          url: 'viber://chat?number=+79992331000',
          title: 'Написать в Viber',
          modificator: 'contact-icons__item_no-print',
          icon: 'viber'
        },
        {
          url: 'whatsapp://send?phone=+79992331000',
          title: 'Написать в WhatsApp',
          modificator: 'contact-icons__item_no-print',
          icon: 'whatsapp'
        },
      ]
    }
  },

  methods: {
    chooseUrl(mobileUrl, url) {
      return (this.isMobile ? mobileUrl : url)
    }
  },

  beforeMount() {
    this.isMobile = screen.width < 1367
  }
}
</script>

<style lang="scss">
@import '~assets/css/variables.scss';

.contact-icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;

  @media (min-width: 600px) {
    justify-content: flex-start;
  }

  @media print {
    margin-top: 1em;
  }

  &__item {
    color: inherit;
    cursor: pointer;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    transform: scale(0.6);
    transform-origin: center left;

    @media (min-width: 320px) {
      transform: scale(0.77);
    }

    @media (min-width: 600px) {
      margin-right: 50px;
      transform: scale(1);
    }

    @media print {
      letter-spacing: 0.5px;

      &::before {
        content: attr(data-print);
      }

      svg {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: "";
      background-image: $linear-gradient-45deg;
      border-radius: 50%;
      bottom: -5px;
      height: 4px;
      left: 50%;
      margin-left: -2px;
      position: absolute;
      transform: scale(0);
      transition: 0.15s ease-in;
      width: 4px;
    }

    @media screen and (min-device-width: 1367px) {
      &:hover {
        &::after {
          transform: scale(1);
        }
      }
    }

    &_no-print {
      @media print {
        display: none;
      }
    }
  }
}
</style>
