<template>
  <section class="section section_bg-gray" id="what_to_order">
    <h2 class="section__header">Что можно заказать</h2>
    <div class="grid">
      <div
        v-for="item in items"
        class="grid__item"
      >
        <div class="grid__item-icon">
          <VCard v-if="item.icon == 'vCard'" />
          <Promo v-if="item.icon == 'promo'" />
          <Slides v-if="item.icon == 'slides'" />
          <Catalog v-if="item.icon == 'catalog'" />
        </div>
        <div
          v-html="item.text"
          class="section__text grid__item-text"
        />
      </div>
    </div>

    <p>Я не&nbsp;делаю интернет-магазины, социальные сети, новостные порталы и&nbsp;всякие&nbsp;агрегаторы.</p>
    <p>Если у&nbsp;вас нет дизайна, это не&nbsp;повод отказываться от&nbsp;предложения&nbsp;😉</p>
  </section>
</template>

<script>
export default {
  components: {
    VCard: () => import('~/assets/images/icn_v-card.svg'),
    Promo: () => import('~/assets/images/icn_promo.svg'),
    Slides: () => import('~/assets/images/icn_slides.svg'),
    Catalog: () => import('~/assets/images/icn_catalog.svg'),
  },

  data: () => {
    return {
      items: [
        {
          icon: 'vCard',
          text: 'Небольшой <strong style="white-space: nowrap">сайт-визитку</strong> c&nbsp;вашей&nbsp;информацией'
        },
        {
          icon: 'promo',
          text: '<strong>Промо-страницу</strong> нового продукта или&nbsp;услуги'
        },
        {
          icon: 'slides',
          text: '<strong>Онлайн-презентацию</strong>'
        },
        {
          icon: 'catalog',
          text: 'Простой <strong>каталог товаров</strong> без интеграции&nbsp;с&nbsp;1С'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
@import '~assets/css/grid.scss';
</style>
