<template>
  <section class="section" id="who_can_pretend">
    <h2 class="section__header">Кто может получить сайт за&nbsp;спасибо</h2>
    <div class="section__text">
      <p>Я поддерживаю социальные активности, благотворительность, стартапы с&nbsp;интересными и&nbsp;добрыми идеями.</p>
      <p>Все остальные могут получить&nbsp;отказ.</p>
    </div>
  </section>
</template>
