.section {
  padding: 25px $wrapper-horizontal-padding;

  @media (min-width: $desktop) {
    padding: 40px $wrapper-horizontal-padding;
  }

  @media print {
    page-break-inside: avoid;
  }

  &_bg-gray {
    background-color: $bg-gray;
  }

  &_bg-gradient {
    background-image: linear-gradient(to bottom, $bg-gray 75%, white 100%);
  }

  &_bg-image {
    background-color: #16131C;
    overflow: hidden;
    position: relative;

    @media (min-width: $desktop) {
      overflow: visible;
    }

    @media print {
      background-color: initial;

      img {
        display: none;
      }
    }

    .section__header,
    .section__text {
      position: relative;
      z-index: 1;
    }
  }

  &_bg-animation {
    position: relative;
  }

  &__header {
    color: $header-text-color;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .5px;
    margin: 0;
    position: relative;
    transition: transform .8s cubic-bezier(.02,.94,.13,1.38);
    z-index: 1;

    @media (min-width: $desktop) {
      font-size: 30px;
      margin: auto 0 15px;
    }

    &_inverse {
      color: white;

      @media print {
        color: inherit;
      }
    }
  }

  &__text {
    font-size: 21px;
    letter-spacing: .5px;
    line-height: 1.33;

    @media (min-width: $desktop) {
      font-size: 23px;
    }

    &_half-width {
      @media (min-width: $desktop) {
        width: 40%;
      }

      @media print {
        width: initial;
      }
    }

    &_inverse {
      color: $white;

      @media print {
        color: inherit;
      }
    }
  }

  &__bg-image {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;

    @media (min-width: 333px) {
      width: 100%;
    }

    @media (min-width: $desktop) {
      bottom: 0;
      height: 100%;
    }
  }
}
