<template>
  <div>
    <div class="wrapper">
      <Menu />
      <nuxt/>
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  components: {
    Menu: () => import('~/components/Menu.vue'),
    Footer: () => import('~/components/Footer.vue'),
  }
}
</script>

<style lang="scss">
@import '~assets/css/variables.scss';
@import '~assets/css/main.scss';
@import '~assets/css/section.scss';
</style>
